/* tas pats: nesupratau kaip dydį atkartoti, o spalvos turėtų atitikti
 */
table {
  margin: 1rem;
  border: 2px solid white;
  font-family: poppins;
  font-size: 3rem;
}

th,
td {
  border: 2px solid white;
  padding: 30px;
  color: white;
  font-weight: 700;
}

th {
  text-align: left;
  background: #86006f;
}

tr {
  background: #f37ecf;
}

tr:nth-of-type(even) {
  background: #af5593;
}

td {
  text-align: left;
  padding: 1rem 5rem 1rem 2rem;
}
